.index-history {
  background-color: #D272AC3B;
  display: flex;
  width: 40%;
  height: 300px;
  padding: 1rem;
  margin-left: 5rem ;
}

.index-history-title {
  margin-right: 1rem;
  height: auto;
}

.index-history-title p {
  margin: 0;
  font-size: 24px;
  height: 30px;
}

.history-content {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.history-content img {
  border-radius: 10%;
  width: 260px;
  margin: 0.5rem;
}

.history-content ul {
  padding-left: 0;
}

.history-content li {
  padding: 0.5rem;
  font-size: 24px;
  list-style: none;
  margin-left: 1rem;
}
